.jornal-item {
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  padding: 20px;

  &__header {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
  }
  &__body {
    display: flex;
    gap: 10px;
  }

  &__date {
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-weight: 400;
  }

  &__text {
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
  }
}
